*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: Arial, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
}
.section-one {
    background-color: #1f2937;
    padding: 16px 128px 64px 128px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.logo {
    font-size: 24px;
    color:  #F9FAF8
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color:  #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-flow: column wrap;
    width: 450px;
}

.hero-text>h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero-text>p {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero-text>button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: solid #3882F6;
    padding: 10px;
    border-radius: 8px;
    width: 106.5px;
    cursor: pointer;
}

.section-two {
    min-height: 376px;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    margin: 32px;
}

.information{
    display: flex;
    justify-content: center;
    gap: 32px;
}

.content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 150px;
    
}

.subtext {
    text-align: center;
}

img {
    border-radius: 8px;
    margin-bottom: 10px;
}

.section-three {
    min-height: 376px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-three>p {
    width: 696px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.signiture {
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
    text-align: end;
    margin-right: 48px;
}